
## LAB REPORT 1 Description of Assignment:

For this lab report, you will be working with the titanic ml dadataset. You would use this dataset to learn to wrangle dataframes.


## Data Description/Challenges:

The sinking of the Titanic is one of the most infamous shipwrecks in history.
On April $15$, $1912$, during her maiden voyage, the widely considered “unsinkable” RMS Titanic sank after colliding with an iceberg. Unfortunately, there weren’t enough lifeboats for everyone onboard, resulting in the death of $1502$ out of $2224$ passengers and crew.

In this challenge, you are tasked to do some wrangling on the data and find ways to understand the data a bit more. This aassignment is due Thursday, January 30, 2025

#### 1. import the necessary libraries

In [12]:
'''
Importing pandas to use the dataframe to organise data
'''
import pandas as pd

#### 2.  Load the train data in a variable name called "train"

In [13]:
'''
Loading the train dataset form train by reading the csv and placing it in a
pandas dataframe.

'''
train = pd.read_csv("/content/train.csv")

#### 3.  Load the test data in a variable name called "test"

In [14]:
'''
Loading the test dataset form train by reading the csv and placing it in a
pandas dataframe.

'''
test = pd.read_csv("/content/test.csv")

#### 4.  Check the shape of the train and test data

In [15]:
'''
Using the shape method to print out the size of each dataframe
'''
print("Train data shape:", train.shape)
print("Test data shape:", test.shape)

Train data shape: (891, 12)
Test data shape: (418, 11)

#### 5.  Comment on how many rows and columns the train and test data both have

In [16]:
'''
Using the shape method to determine the rows and columns contained by each dataframe
'''
print("Train has", train.shape[0], "rows and" , train.shape[1], " columns")
print("Test has", test.shape[0], "rows and" , test.shape[1], " columns")

Train has 891 rows and 12  columns
Test has 418 rows and 11  columns

#### 6.  Check the last 5 rows of the train and test data respectively.

In [17]:
'''
Using the tail method to print the last 5 rows for each dataframe
'''
print("The last 5 rows of train: \n", train.tail())
print("\nThe last 5 rows of test: \n", test.tail())

The last 5 rows of train:
      PassengerId  Survived  Pclass                                      Name  \
886          887         0       2                     Montvila, Rev. Juozas
887          888         1       1              Graham, Miss. Margaret Edith
888          889         0       3  Johnston, Miss. Catherine Helen "Carrie"
889          890         1       1                     Behr, Mr. Karl Howell
890          891         0       3                       Dooley, Mr. Patrick

        Sex   Age  SibSp  Parch      Ticket   Fare Cabin Embarked
886    male  27.0      0      0      211536  13.00   NaN        S
887  female  19.0      0      0      112053  30.00   B42        S
888  female   NaN      1      2  W./C. 6607  23.45   NaN        S
889    male  26.0      0      0      111369  30.00  C148        C
890    male  32.0      0      0      370376   7.75   NaN        Q

The last 5 rows of test:
      PassengerId  Pclass                          Name     Sex   Age  SibSp  \
413         1305       3            Spector, Mr. Woolf    male   NaN      0
414         1306       1  Oliva y Ocana, Dona. Fermina  female  39.0      0
415         1307       3  Saether, Mr. Simon Sivertsen    male  38.5      0
416         1308       3           Ware, Mr. Frederick    male   NaN      0
417         1309       3      Peter, Master. Michael J    male   NaN      1

     Parch              Ticket      Fare Cabin Embarked
413      0           A.5. 3236    8.0500   NaN        S
414      0            PC 17758  108.9000  C105        C
415      0  SOTON/O.Q. 3101262    7.2500   NaN        S
416      0              359309    8.0500   NaN        S
417      1                2668   22.3583   NaN        C

#### 7.  Do a describitive of both the train and test data. Comment on the results from both data.

In [18]:
'''
This chunk calculates and displays descriptive statistics
  (such as count, mean, std, min, max, and quartiles)
  for both the train and test datasets.
  '''
print("Train Desciption: \n", train.describe())
print("\n Test Desciption: \n", test.describe())

Train Desciption:
        PassengerId    Survived      Pclass         Age       SibSp  \
count   891.000000  891.000000  891.000000  714.000000  891.000000
mean    446.000000    0.383838    2.308642   29.699118    0.523008
std     257.353842    0.486592    0.836071   14.526497    1.102743
min       1.000000    0.000000    1.000000    0.420000    0.000000
25%     223.500000    0.000000    2.000000   20.125000    0.000000
50%     446.000000    0.000000    3.000000   28.000000    0.000000
75%     668.500000    1.000000    3.000000   38.000000    1.000000
max     891.000000    1.000000    3.000000   80.000000    8.000000

            Parch        Fare
count  891.000000  891.000000
mean     0.381594   32.204208
std      0.806057   49.693429
min      0.000000    0.000000
25%      0.000000    7.910400
50%      0.000000   14.454200
75%      0.000000   31.000000
max      6.000000  512.329200

 Test Desciption:
        PassengerId      Pclass         Age       SibSp       Parch        Fare
count   418.000000  418.000000  332.000000  418.000000  418.000000  417.000000
mean   1100.500000    2.265550   30.272590    0.447368    0.392344   35.627188
std     120.810458    0.841838   14.181209    0.896760    0.981429   55.907576
min     892.000000    1.000000    0.170000    0.000000    0.000000    0.000000
25%     996.250000    1.000000   21.000000    0.000000    0.000000    7.895800
50%    1100.500000    3.000000   27.000000    0.000000    0.000000   14.454200
75%    1204.750000    3.000000   39.000000    1.000000    0.000000   31.500000
max    1309.000000    3.000000   76.000000    8.000000    9.000000  512.329200

#### 8.  What are the column names in the train and test data respectively. Do you have any column in train which is absent in the test

In [19]:
'''
Prints and compares column names of train and test DataFrames.

  This chunk retrieves and prints the column names of both the
  train and test DataFrames. It then compares the columns,
  indicating matches and mismatches between the two.

'''



print("Column names in train data:")
train_column = train.columns.to_list()
print("\n" ,train_column)

print("Column names in test data:")
test_column = test.columns.to_list()
print("\n" ,test_column)


#check
for i in range(len(train_column)):
    for j in range(len(test_column)):
        if i == j:  # Example condition: if indices are equal
            print(f"Match found at index {i}: {train_column[i]} == {test_column[j]}")
        else:
            print(f"No match: train_column[{i}] = {train_column[i]}, test_column[{j}] = {test_column[j]}")

Column names in train data:

 ['PassengerId', 'Survived', 'Pclass', 'Name', 'Sex', 'Age', 'SibSp', 'Parch', 'Ticket', 'Fare', 'Cabin', 'Embarked']
Column names in test data:

 ['PassengerId', 'Pclass', 'Name', 'Sex', 'Age', 'SibSp', 'Parch', 'Ticket', 'Fare', 'Cabin', 'Embarked']
Match found at index 0: PassengerId == PassengerId
No match: train_column[0] = PassengerId, test_column[1] = Pclass
No match: train_column[0] = PassengerId, test_column[2] = Name
No match: train_column[0] = PassengerId, test_column[3] = Sex
No match: train_column[0] = PassengerId, test_column[4] = Age
No match: train_column[0] = PassengerId, test_column[5] = SibSp
No match: train_column[0] = PassengerId, test_column[6] = Parch
No match: train_column[0] = PassengerId, test_column[7] = Ticket
No match: train_column[0] = PassengerId, test_column[8] = Fare
No match: train_column[0] = PassengerId, test_column[9] = Cabin
No match: train_column[0] = PassengerId, test_column[10] = Embarked
No match: train_column[1] = Survived, test_column[0] = PassengerId
Match found at index 1: Survived == Pclass
No match: train_column[1] = Survived, test_column[2] = Name
No match: train_column[1] = Survived, test_column[3] = Sex
No match: train_column[1] = Survived, test_column[4] = Age
No match: train_column[1] = Survived, test_column[5] = SibSp
No match: train_column[1] = Survived, test_column[6] = Parch
No match: train_column[1] = Survived, test_column[7] = Ticket
No match: train_column[1] = Survived, test_column[8] = Fare
No match: train_column[1] = Survived, test_column[9] = Cabin
No match: train_column[1] = Survived, test_column[10] = Embarked
No match: train_column[2] = Pclass, test_column[0] = PassengerId
No match: train_column[2] = Pclass, test_column[1] = Pclass
Match found at index 2: Pclass == Name
No match: train_column[2] = Pclass, test_column[3] = Sex
No match: train_column[2] = Pclass, test_column[4] = Age
No match: train_column[2] = Pclass, test_column[5] = SibSp
No match: train_column[2] = Pclass, test_column[6] = Parch
No match: train_column[2] = Pclass, test_column[7] = Ticket
No match: train_column[2] = Pclass, test_column[8] = Fare
No match: train_column[2] = Pclass, test_column[9] = Cabin
No match: train_column[2] = Pclass, test_column[10] = Embarked
No match: train_column[3] = Name, test_column[0] = PassengerId
No match: train_column[3] = Name, test_column[1] = Pclass
No match: train_column[3] = Name, test_column[2] = Name
Match found at index 3: Name == Sex
No match: train_column[3] = Name, test_column[4] = Age
No match: train_column[3] = Name, test_column[5] = SibSp
No match: train_column[3] = Name, test_column[6] = Parch
No match: train_column[3] = Name, test_column[7] = Ticket
No match: train_column[3] = Name, test_column[8] = Fare
No match: train_column[3] = Name, test_column[9] = Cabin
No match: train_column[3] = Name, test_column[10] = Embarked
No match: train_column[4] = Sex, test_column[0] = PassengerId
No match: train_column[4] = Sex, test_column[1] = Pclass
No match: train_column[4] = Sex, test_column[2] = Name
No match: train_column[4] = Sex, test_column[3] = Sex
Match found at index 4: Sex == Age
No match: train_column[4] = Sex, test_column[5] = SibSp
No match: train_column[4] = Sex, test_column[6] = Parch
No match: train_column[4] = Sex, test_column[7] = Ticket
No match: train_column[4] = Sex, test_column[8] = Fare
No match: train_column[4] = Sex, test_column[9] = Cabin
No match: train_column[4] = Sex, test_column[10] = Embarked
No match: train_column[5] = Age, test_column[0] = PassengerId
No match: train_column[5] = Age, test_column[1] = Pclass
No match: train_column[5] = Age, test_column[2] = Name
No match: train_column[5] = Age, test_column[3] = Sex
No match: train_column[5] = Age, test_column[4] = Age
Match found at index 5: Age == SibSp
No match: train_column[5] = Age, test_column[6] = Parch
No match: train_column[5] = Age, test_column[7] = Ticket
No match: train_column[5] = Age, test_column[8] = Fare
No match: train_column[5] = Age, test_column[9] = Cabin
No match: train_column[5] = Age, test_column[10] = Embarked
No match: train_column[6] = SibSp, test_column[0] = PassengerId
No match: train_column[6] = SibSp, test_column[1] = Pclass
No match: train_column[6] = SibSp, test_column[2] = Name
No match: train_column[6] = SibSp, test_column[3] = Sex
No match: train_column[6] = SibSp, test_column[4] = Age
No match: train_column[6] = SibSp, test_column[5] = SibSp
Match found at index 6: SibSp == Parch
No match: train_column[6] = SibSp, test_column[7] = Ticket
No match: train_column[6] = SibSp, test_column[8] = Fare
No match: train_column[6] = SibSp, test_column[9] = Cabin
No match: train_column[6] = SibSp, test_column[10] = Embarked
No match: train_column[7] = Parch, test_column[0] = PassengerId
No match: train_column[7] = Parch, test_column[1] = Pclass
No match: train_column[7] = Parch, test_column[2] = Name
No match: train_column[7] = Parch, test_column[3] = Sex
No match: train_column[7] = Parch, test_column[4] = Age
No match: train_column[7] = Parch, test_column[5] = SibSp
No match: train_column[7] = Parch, test_column[6] = Parch
Match found at index 7: Parch == Ticket
No match: train_column[7] = Parch, test_column[8] = Fare
No match: train_column[7] = Parch, test_column[9] = Cabin
No match: train_column[7] = Parch, test_column[10] = Embarked
No match: train_column[8] = Ticket, test_column[0] = PassengerId
No match: train_column[8] = Ticket, test_column[1] = Pclass
No match: train_column[8] = Ticket, test_column[2] = Name
No match: train_column[8] = Ticket, test_column[3] = Sex
No match: train_column[8] = Ticket, test_column[4] = Age
No match: train_column[8] = Ticket, test_column[5] = SibSp
No match: train_column[8] = Ticket, test_column[6] = Parch
No match: train_column[8] = Ticket, test_column[7] = Ticket
Match found at index 8: Ticket == Fare
No match: train_column[8] = Ticket, test_column[9] = Cabin
No match: train_column[8] = Ticket, test_column[10] = Embarked
No match: train_column[9] = Fare, test_column[0] = PassengerId
No match: train_column[9] = Fare, test_column[1] = Pclass
No match: train_column[9] = Fare, test_column[2] = Name
No match: train_column[9] = Fare, test_column[3] = Sex
No match: train_column[9] = Fare, test_column[4] = Age
No match: train_column[9] = Fare, test_column[5] = SibSp
No match: train_column[9] = Fare, test_column[6] = Parch
No match: train_column[9] = Fare, test_column[7] = Ticket
No match: train_column[9] = Fare, test_column[8] = Fare
Match found at index 9: Fare == Cabin
No match: train_column[9] = Fare, test_column[10] = Embarked
No match: train_column[10] = Cabin, test_column[0] = PassengerId
No match: train_column[10] = Cabin, test_column[1] = Pclass
No match: train_column[10] = Cabin, test_column[2] = Name
No match: train_column[10] = Cabin, test_column[3] = Sex
No match: train_column[10] = Cabin, test_column[4] = Age
No match: train_column[10] = Cabin, test_column[5] = SibSp
No match: train_column[10] = Cabin, test_column[6] = Parch
No match: train_column[10] = Cabin, test_column[7] = Ticket
No match: train_column[10] = Cabin, test_column[8] = Fare
No match: train_column[10] = Cabin, test_column[9] = Cabin
Match found at index 10: Cabin == Embarked
No match: train_column[11] = Embarked, test_column[0] = PassengerId
No match: train_column[11] = Embarked, test_column[1] = Pclass
No match: train_column[11] = Embarked, test_column[2] = Name
No match: train_column[11] = Embarked, test_column[3] = Sex
No match: train_column[11] = Embarked, test_column[4] = Age
No match: train_column[11] = Embarked, test_column[5] = SibSp
No match: train_column[11] = Embarked, test_column[6] = Parch
No match: train_column[11] = Embarked, test_column[7] = Ticket
No match: train_column[11] = Embarked, test_column[8] = Fare
No match: train_column[11] = Embarked, test_column[9] = Cabin
No match: train_column[11] = Embarked, test_column[10] = Embarked

#### 9.  Counts for the passengers who survived. Do this for only the train data

In [20]:
'''Prints the total number of passengers in the training data for whom survival information is available.'''

print('Train survival count:', train['Survived'].count(), "people")

Train survival count: 891 people

#### 10.  Extract only the titles from the name columns in the train


**Hint**: Check on using regular expression to extract the title from the name column.

In [21]:


'''
Extracts titles from the 'Name' column and cleans them.

  This chunk extracts titles from the 'Name' column of the
  DataFrame, cleans them by removing leading/trailing spaces,
  and adds them as a new 'title' column. The temporary column
  used for extraction is then dropped. Finally, it prints the
  'title' column.

'''

#split by comma
train[['last_name', 'temp']] = train['Name'].str.split(',', expand=True)

# Split on the first occurrence of '.' only
train['title'] = train['temp'].str.split('.').str[0]

# Clean up the columns

train['title'] = train['title'].str.strip()

# Drop temporary column
train = train.drop('temp', axis=1)

#see only title
print(train[['title']])

    title
0      Mr
1     Mrs
2    Miss
3     Mrs
4      Mr
..    ...
886   Rev
887  Miss
888  Miss
889    Mr
890    Mr

[891 rows x 1 columns]

**Note:** You can only do this question after doing the previous question
 #### 11. Create a new column and call it "Title" to save the extracted titles above

In [22]:
'''
Prints the 'title' column of the DataFrame.

  This chunk simply prints the values in the 'title' column
  of the provided DataFrame.

'''
print(train["title"])

0        Mr
1       Mrs
2      Miss
3       Mrs
4        Mr
       ...
886     Rev
887    Miss
888    Miss
889      Mr
890      Mr
Name: title, Length: 891, dtype: object

#### 12.  Use this dictionary to change the title names in the train.Title created column

mapping = {'Mlle': 'Miss', 'Major': 'Mr', 'Col': 'Mr', 'Sir': 'Mr',
           'Don': 'Mr', 'Mme': 'Mrs', 'Jonkheer': 'Mr', 'Lady': 'Mrs',
           'Capt': 'Mr', 'Countess': 'Mrs', 'Ms': 'Miss', 'Dona': 'Mrs'}

In [23]:

'''
Replaces titles in the 'title' column using a mapping and prints the updated column.

  This chunk defines a mapping dictionary to replace specific titles
  in the 'title' column of the DataFrame with more common titles.
  It then applies the mapping using the `replace` method and prints
  the updated 'title' column. Finally, it prints the value counts
  of the unique titles after the replacement.

'''


# Define the mapping dictionary
mapping = {'Mlle': 'Miss', 'Major': 'Mr', 'Col': 'Mr', 'Sir': 'Mr', 'Don': 'Mr',
          'Mme': 'Mrs', 'Jonkheer': 'Mr', 'Lady': 'Mrs', 'Capt': 'Mr',
          'Countess': 'Mrs', 'Ms': 'Miss', 'Dona': 'Mrs'}

# Replace the titles using the mapping
train['title'] = train['title'].replace(mapping)

print(train['title'])

# Let's see the updated unique titles
print("Updated unique titles:")
print(train['title'].value_counts())

0        Mr
1       Mrs
2      Miss
3       Mrs
4        Mr
       ...
886     Rev
887    Miss
888    Miss
889      Mr
890      Mr
Name: title, Length: 891, dtype: object
Updated unique titles:
title
Mr              525
Miss            185
Mrs             127
Master           40
Dr                7
Rev               6
the Countess      1
Name: count, dtype: int64

#### 13.  Value counts after changing some titles

In [24]:
'''
Prints the value counts of the 'title' column in the DataFrame.

  This chunk calculates and displays the frequency of each unique
  title in the 'title' column of the provided DataFrame.

'''

print(train['title'].value_counts())

title
Mr              525
Miss            185
Mrs             127
Master           40
Dr                7
Rev               6
the Countess      1
Name: count, dtype: int64

#### 14. Group data by class and view the averages for each column

> Add blockquote

In [38]:
'''
Groups data by class and calculates the average for each column.

  This chunk groups the input DataFrame 'train' by the 'Pclass' column
  (representing passenger class) and then calculates the average (mean)
  for each numerical column within each class group. The resulting
  DataFrame containing the class averages is then printed.

'''

numeric_cols = train.select_dtypes(include=['number']).columns
class_averages = train.groupby('Pclass')[numeric_cols].mean()
print(class_averages)

        PassengerId  Survived  Pclass        Age     SibSp     Parch  \
Pclass
1        461.597222  0.629630     1.0  38.233441  0.416667  0.356481
2        445.956522  0.472826     2.0  29.877630  0.402174  0.380435
3        439.154786  0.242363     3.0  25.140620  0.615071  0.393075

             Fare
Pclass
1       84.154687
2       20.662183
3       13.675550

#### 15.  What do you observe from the  above groupby table? Discuss and write down your thoughts

In [ ]:
'''


'''

#### 16.  Group by Pclass and sex

---

and find the mean

In [36]:
'''
Groups data by Pclass and Sex and calculates the mean for each group.

  This chunk groups the input DataFrame 'train' by 'Pclass' (passenger class)
  and 'Sex', and then calculates the mean for each numerical column within
  each group. The resulting DataFrame, containing the means for each group,
  is then printed.
'''


# Select numeric columns
numeric_cols = train.select_dtypes(include=['number']).columns

# Group by 'Pclass' and 'Sex', calculating the mean for numeric columns only
grouped_data = train.groupby(['Pclass', 'Sex'])[numeric_cols].mean()

# Print the result
print(grouped_data)

               PassengerId  Survived  Pclass        Age     SibSp     Parch  \
Pclass Sex
1      female   469.212766  0.968085     1.0  34.611765  0.553191  0.457447
       male     455.729508  0.368852     1.0  41.281386  0.311475  0.278689
2      female   443.105263  0.921053     2.0  28.722973  0.486842  0.605263
       male     447.962963  0.157407     2.0  30.740707  0.342593  0.222222
3      female   399.729167  0.500000     3.0  21.750000  0.895833  0.798611
       male     455.515850  0.135447     3.0  26.507589  0.498559  0.224784

                     Fare
Pclass Sex
1      female  106.125798
       male     67.226127
2      female   21.970121
       male     19.741782
3      female   16.118810
       male     12.661633

#### 17. **Missing Values**

wr

#### 18.  How many missing values are in train data  and test respectively.

In [28]:
'''
Prints the number of missing values for each column in the train and test DataFrames.

  This chunk calculates and prints the number of missing values
  for each column in both the train and test DataFrames. The output
  is presented as a list, where each element represents the count
  of missing values in a corresponding column.

'''


print('The missing valies in the train data are:', train.isnull().sum().to_list())

print('\n The missing valies in the test data are:', test.isnull().sum().to_list())

The missing valies in the train data are: [0, 0, 0, 0, 0, 177, 0, 0, 0, 0, 687, 2, 0, 0]

 The missing valies in the test data are: [0, 0, 0, 0, 86, 0, 0, 0, 1, 327, 0]

#### 19.  Which of columns in the train data had missing values?

In [27]:
'''
Prints the names of columns in the train DataFrame that contain missing values.

  This chunk identifies and prints the names of columns in the
  train DataFrame that have at least one missing value.
  It uses the `isnull()` and `any()` methods to check for missing values
  and the `columns` attribute to retrieve column names.


'''



print('The colums with missing values in Train are:', train.columns[train.isnull().any()].tolist())

The colums with missing values in Train are: ['Age', 'Cabin', 'Embarked']

#### 20.  Which of columns in the test data had missing values?

In [26]:
'''
Prints the names of columns in the test DataFrame that contain missing values.

    This chunk identifies and prints the names of columns in the
    test DataFrame that have at least one missing value.
    It uses the `isnull()` and `any()` methods to check for missing values
    and the `columns` attribute to retrieve column names.

'''


print('The colums with missing values in Test are:', test.columns[test.isnull().any()].tolist())

The colums with missing values in Test are: ['Age', 'Fare', 'Cabin']

#### 21.  First drop all missing values and check the counts for missing value again

In [30]:

'''
Counts the number of non-missing values in each column of the train DataFrame after dropping rows with any missing values.

  This chunk first drops all rows with any missing values in the
  train DataFrame using `dropna()`. Then, it uses `count()` to calculate
  the number of non-missing values in each remaining row for each column.


'''

train.dropna().count()

PassengerId    183
Survived       183
Pclass         183
Name           183
Sex            183
Age            183
SibSp          183
Parch          183
Ticket         183
Fare           183
Cabin          183
Embarked       183
last_name      183
title          183
dtype: int64

In [31]:
'''
Counts the number of non-missing values in each column of the test DataFrame after dropping rows with any missing values.

  This chunk first drops all rows with any missing values in the
  test DataFrame using `dropna()`. Then, it uses `count()` to calculate
  the number of non-missing values in each remaining row for each column.

'''


test.dropna().count()

PassengerId    87
Pclass         87
Name           87
Sex            87
Age            87
SibSp          87
Parch          87
Ticket         87
Fare           87
Cabin          87
Embarked       87
dtype: int64

**Remember** Do not run the code on dropping all missing values the second time

#### 22.  Reload the data and drop the missing values in age with the mean

In [32]:
'''
Drops missing values in the 'Age' column and prints the mode of the remaining values.

    This chunk first drops rows with missing values in the 'Age' column
    of the train DataFrame using `dropna()`. Then, it prints a message
    indicating that the missing ages have been dropped. Finally, it calculates
    and prints the mode (most frequent value) of the remaining 'Age' values.


'''



train['Age'].dropna()
print('Prove of dropped ages:')
train['Age'].dropna().mode()

Prove of dropped ages:

0    24.0
Name: Age, dtype: float64

#### 23. Drop the missing values with the Embarked with the mode

In [33]:
'''
Drops missing values in the 'Embarked' column and prints the mode of the remaining values.

    This chunk first drops rows with missing values in the 'Embarked' column
    of the train DataFrame using `dropna()`. Then, it prints a message
    indicating that the missing values have been dropped. Finally, it calculates
    and prints the mode (most frequent value) of the remaining 'Embarked' values.

'''


train['Embarked'].dropna()
print('Prove of dropped values:')
train['Embarked'].dropna().mode()

Prove of dropped values:

0    S
Name: Embarked, dtype: object

#### 24. Merge the two dataframes and called it df.Check to the number of rows and columns and number of missing values

In [34]:
'''
Merges the train and test DataFrames and prints information about the merged DataFrame.

  This chunk concatenates the train and test DataFrames into a new DataFrame
  called 'df'. It then prints the number of rows and columns in the merged
  DataFrame. Finally, it prints the total number of missing values in each
  column of the merged DataFrame.


'''


df=pd.concat([train,test])
df.shape
print("The merged dataframe has", train.shape[0], "rows and" , train.shape[1], "columns")
print("The merged dataframe has", df.isnull().sum(), "missing values")

The merged dataframe has 891 rows and 14 columns
The merged dataframe has PassengerId       0
Survived        418
Pclass            0
Name              0
Sex               0
Age             263
SibSp             0
Parch             0
Ticket            0
Fare              1
Cabin          1014
Embarked          2
last_name       418
title           418
dtype: int64 missing values